html, body {
    overflow-x: hidden;
    background-color: white;

}

header {
    text-align: center;
    color: black;
    width: 100%;
    margin: 0 auto
}

#img-div {
    display: block;
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

#tribute-info {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60%;
}

img {
    margin: auto;
    margin-top: 50px;
    width: 100%
}